<table class="table table-sm table-hover">
  <tr *ngFor="let patient of patientService.patientList">
    <td>{{patient.firstName}} - {{patient.lastName}}</td>
    <td>{{patient.mobile}}</td>
    <td>
       <!-- <a class="btn" (click)="showForEdit(patient)">-->
      <a (click)="showForEdit(patient)">
       <!--<i class="fa fa-pencil-square-o"></i>-->
		<i class="material-icons">edit</i>
      </a>
      <!--<a class="btn text-danger" (click)="onDelete(patient.Id)">-->
          <a (click)="onDelete(patient.id)">
        <!--<i class="fa fa-trash-o"></i>-->
		<i class="material-icons">delete</i>
      </a>
    </td>
  </tr>
</table>